<ion-view>
  <ion-content>
    <div class="content">
		<div class="blog">
			<div class="blog-top" ng-repeat="health in healths | orderBy:'dateupdated'">
				<div ng-if="health.ispicture" class="{{health.class}}">
					<a  href=""><img  src="{{health.picture}}" />
					<label></label></a>
				</div>
				<div ng-if="health.isnote" class="health.class">
					<h5><a href="">{{health.title}}</a></h5>
					<p>{{health.desc}}</p>
				</div>
				<div ng-if="health.islink" class="health.class">
					<p>{{health.title}}</p><a href="health.title" target="_blank">{{health.title}}</a>					
				</div>
				<div ng-if="health.isquote" class="health.class">
					<p>{{health.desc}}</p>
					<img  src="{{health.picture}}" />
					<span>{{health.title}}</span>
				</div>
				<div ng-if="health.isblog" class="health.class">
					<youtube-video ng-if="health.isvideo"  video-id="health.class"></youtube-video>
					<a ng-hide="health.isvideo" href=""><img  src="{{health.picture}}" /></a>
					<div class="blog-in">
						<h5><a href="">{{health.title}}</a></h5>
						<p>{{health.desc}}</p>
						<ul class="date">
							<li><span><a href="#"><i ></i>12 Comments</a></span></li>
							<li><span><i class="date-in"></i>{{health.datecreated | date}}</span></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clear"> </div>
		</div>
		<div class="arrow arrow-at">
			<img  src="images/ic.png" />
		</div>
	</div>
  </ion-content>
</ion-view>
