<ion-view>
  <ion-content>
    <div class="content">
		<div class="work">
			<div class="work-top">
			<script src="js/responsiveslides.min.js"></script>
				<script>
					$(function () {
					  $("#slider").responsiveSlides({
						auto: true,
						speed: 500,
						namespace: "callbacks",
							pager: true,
					  });
					});
				</script>
				<div class="slider">
					<div class="callbacks_container">
					  <ul class="rslides" id="slider">
						<li>
						  <img src="images/w1.jpg" alt="">
						  
						</li>
						<li>
						  <img src="images/w2.jpg" alt="">
							
						</li>
						<li>
						  <img src="images/w3.jpg" alt="">
						  
						</li>
						<li>
						  <img src="images/w4.jpg" alt="">
						  
						</li>
					  </ul>
				  </div>
				</div>
				<h2><a href="single.html">Heavy Sand - Creative Photography</a></h2>
				<p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora This is Photoshop's version  of Lorem Ipsum.
				<span>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</span> </p>
			<div class="projects">
				<h3>Related Projects</h3>
				<ul>
					<li><a href="single.html"><img  src="images/wo.jpg" /></a></li>
					<li><a href="single.html"><img  src="images/wo1.jpg" /></a></li>
					<li><a href="single.html"><img  src="images/wo2.jpg" /></a></li>
					<div class="clear"> </div>
				</ul>
			</div>
			</div>
			<div class="work-in">
				<div class="info">
				<h3>Project Info</h3>
					<ul class="likes">
						<li><a href="#"><i > </i>premiumlayers</a></li>
						<li><span><i class="like"> </i>138 Likes</span></li>
						<li><span><i class="dec"> </i>25 December, 2013</span></li>
						<li><a href="#"><i class="comment"> </i>4 Comments</a></li>

					</ul>
				</div>
				<div class="tags">
				<h3>Tags</h3>
					<ul class="tag">
						<li><a href="#">web design</a></li>
						<li><a href="#">photography</a></li>
						<li><a href="#">development</a></li>
						<li><a href="#">php</a></li>
						<li><a href="#">ecommerce</a></li>
						<li><a href="#">graphic</a></li>
					</ul>
				</div>
				<div class="gallery">
				<h3>Project Gallery</h3>
					<ul class="gallery-grid">
						<li><a href="single.html"><img  src="images/pi.jpg" /></a></li>
						<li><a href="single.html"><img  src="images/pi1.jpg" /></a></li>
						<li><a href="single.html"><img  src="images/pi2.jpg" /></a></li>
						<li><a href="single.html"><img  src="images/pi3.jpg" /></a></li>
						<li><a href="single.html"><img  src="images/pi4.jpg" /></a></li>
						<li><a href="single.html"><img  src="images/pi5.jpg" /></a></li>
						<li><a href="single.html"><img  src="images/pi6.jpg" /></a></li>
						<li><a href="single.html"><img  src="images/pi7.jpg" /></a></li>
						<li><a href="single.html"><img  src="images/pi8.jpg" /></a></li>
						<li><a href="single.html"><img  src="images/pi9.jpg" /></a></li>
						<li><a href="single.html"><img  src="images/pi5.jpg" /></a></li>
						<div class="clear"> </div>
					</ul>
				</div>
				<div class="feature">
				<h3>Project Features</h3>
					<ul class="feature-grid">
						<li><a href="single.html"><i > </i> Responsive Layout  </a></li>
						<li><a href="single.html"><i >  </i>Font Awesome Icons</a></li>
						<li><a href="single.html"><i> </i>Clean & Commented Code</a></li>
						<li><a href="single.html"><i >  </i> Pixel perfect Design</a></li>
						<li><a href="single.html"><i >  </i>Highly Customizable</a></li>

					</ul>
				</div>
			</div>
			<div class="clear"> </div>
		</div>
	</div>
  </ion-content>
</ion-view>
