<ion-view>
  <ion-content>
    <div class="content">
		<div class="contact">
			<h1>Get in touch with us</h1>
			<p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
			<div class="top-contact">
			<h3>Send us a message</h3>
			<div class="grid-contact">
				<div class="your-top">
					<i> </i>
					<input type="text" value="Name" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Name';}">								
					<div class="clear"> </div>
				</div>
				<div class="your-top">
					<i class="email"> </i>
					<input type="text" value="E-mail" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'E-mail';}">								
					<div class="clear"> </div>
				</div>
				<div class="your-top">
					<i class="website"> </i>
					<input type="text" value="Website" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Website';}">								
					<div class="clear"> </div>
				</div>
				
			</div>
			<div class="grid-contact-in">
				<textarea cols="77" rows="5" value=" " onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
				<input type="submit" value="SENT MESSAGE">
			</div>
			<div class="clear"> </div>
		</div>
		</div>
		<div class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d186905.27629471786!2d-81.24861995!3d42.948881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882ef20ea88d9b0b%3A0x28c7d7699a056b95!2sLondon%2C+ON%2C+Canada!5e0!3m2!1sen!2sin!4v1427891904803"></iframe>
		</div>
	</div>
  </ion-content>
</ion-view>
