<ion-view>
  <ion-content>
    <div class="content">
			<div class="single">
				<div class="single-top">
					<div class="grid-about">
						<a><img src="{{detail.picture}}" alt=""></a>
					</div>
					<h2><a>{{detail.title}}</a></h2>
					<pre><p>{{detail.desc}}</p></pre>
					<div class="comment-grid-top">
						<h3>5 Comments</h3>
						<div class="comments-top-top">
							<div class="top-comment-left">
								<img  src="images/co.jpg" alt="">
							</div>
							<div class="top-comment-right">
								<ul>
									<li><span > <a href="#">ShaneFreer</a></span></li>
									<li><span>/ 58 minutes ago</span></li>
									
								</ul>
								<p>great post brainartworks</p>
							</div>
							<div class="clear"> </div>
							<label> </label>
						</div>
					<div class="comments-top-top top-comment">
						<div class="top-comment-left left-single">
							<img  src="images/co1.jpg" alt="">
						</div>
						<div class="top-comment-right right-single">
							<ul>
								<li><span ><a href="#">ShaneFreer</a></span></li>
								<li><span >/ 58 minutes ago</span></li>
								
							</ul>
							<p>great post brainartworks</p>
						</div>
						<div class="clear"> </div>
						<label> </label>
					</div>
					<div class="comments-top-top top-com">
						<div class="top-comment-left left-single1">
							<img  src="images/co2.jpg" alt="">
						</div>
						<div class="top-comment-right  right-single1">
							<ul>
								<li><span > <a href="#">ShaneFreer</a></span></li>
								<li><span >/ 58 minutes ago</span></li>
								
							</ul>
							<p>great post brainartworks</p>
						</div>
						<div class="clear"> </div>
						<label class="arrow-in"> </label>
					</div>
					<div class="comments-top-top top-comment">
						<div class="top-comment-left left-single">
							<img  src="images/co3.jpg" alt="">
						</div>
						<div class="top-comment-right right-single">
							<ul>
								<li><span><a href="#">ShaneFreer</a></span></li>
								<li><span >/ 58 minutes ago</span></li>
								
							</ul>
							<p>great post brainartworks</p>
						</div>
						<div class="clear"> </div>
					</div>
					<div class="comments-top-top ">
						<div class="top-comment-left ">
							<img  src="images/co4.jpg" alt="">
						</div>
						<div class="top-comment-right ">
							<ul>
								<li><span > <a href="#">ShaneFreer</a></span></li>
								<li><span >/ 58 minutes ago</span></li>
							</ul>
							<p>great post brainartworks</p>
						</div>
						<div class="clear"> </div>
					</div>
				</div>
				<div class="top-single">
					<h3>Leave a Comment</h3>
					<div class="grid-single">
						<div class="your-single">
							<i> </i>
							<input type="text" value="Name" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Name';}">	
							<div class="clear"> </div>
						</div>
						<div class="your-single">
							<i class="email"> </i>
							<input type="text" value="E-mail" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'E-mail';}">	
							<div class="clear"> </div>
						</div>
						<div class="your-single">
							<i class="website"> </i>
							<input type="text" value="Website" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Website';}">
							<div class="clear"> </div>
						</div>
					</div>
				<div class="grid-single-in">
					<textarea cols="77" rows="5" value=" " onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
					<input type="submit" value="SENT MESSAGE">
				</div>
				<div class="clear"> </div>
			</div>
				</div>
				<div class="single-in">
					<div class="info">
						<h3>Project Info</h3>
						<ul class="likes">
							<li><a href="#"><i > </i>premiumlayers</a></li>
							<li><span><i class="like"> </i>138 Likes</span></li>
							<li><span><i class="dec"> </i>25 December, 2013</span></li>
							<li><a href="#"><i class="comment"> </i>4 Comments</a></li>

						</ul>
					</div>
					<div class="tags">
						<h3>Tags</h3>
						<ul class="tag">
							<li><a href="#">web design</a></li>
							<li><a href="#">photography</a></li>
							<li><a href="#">development</a></li>
							<li><a href="#">php</a></li>
							<li><a href="#">ecommerce</a></li>
							<li><a href="#">graphic</a></li>
						</ul>
					</div>
					<div class="archive">
						<h3>Archives</h3>
						<ul class="archive-grid">
							<li><a href="#">December 2013 (24)</a></li>
							<li><a href="#">November 2013 (7)</a></li>
							<li><a href="#">September 2013 (2)</a></li>
							<li><a href="#">March 2013 (22)</a></li>
							<li><a href="#">January 2013 (11)</a></li>
						</ul>
					</div>
				</div>
				<div class="clear"> </div>
	</div>
  </ion-content>
</ion-view>