<ion-modal-view>
    <button class="button button-close" ng-click="closeLogin()">
        <i class="icon ion-close-circled"></i>
    </button>
  <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
    <div class="button-bar social-login">
        <button class="button button-small button-border icon-left ion-social-google button-assertive-900" ng-click="loginGoogle()">Google+</button>
        <button class="button button-small button-border icon-left ion-social-twitter button-calm-900" ng-click="loginTwitter()">Twitter</button>
        <button class="button button-small button-border icon-left ion-social-facebook button-positive-900" ng-click="loginFacebook()">Facebook</button>
    </div>
  </ion-content>
</ion-modal-view>
