<ion-view>
  <ion-content>
    <div class="content">
		<div class="about">
			<div class="about-top">
				<div class="grid-about">
					<a href="single.html"><img src="images/ab.jpg" alt=""></a>
				</div>
				<h2><a href="single.html">Who We Are</a></h2>
				<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. 
				<span>Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</span></p>
			<div class="staff">
				<h3>Our Staff</h3>
					<div class="our">
					<a href="single.html"><img  src="images/p3.jpg" />
						<div class="simple">
							<h4>John Smith</h4>
							<p>Web Developer</p>
						</div>
					</a>
					</div>
					<div class="our">
						<a href="single.html"><img  src="images/p2.jpg" />
						<div class="simple">
							<h4>John Smith</h4>
							<p>Web Developer</p>
						</div>
					</a>						</div>
					<div class="our">
					<a href="single.html"><img  src="images/p4.jpg" />
						<div class="simple">
							<h4>John Smith</h4>
							<p>Web Developer</p>
						</div>
					</a>
					</div>
					<div class="our">
					<a href="single.html"><img  src="images/p5.jpg" />
						<div class="simple">
							<h4>John Smith</h4>
							<p>Web Developer</p>
						</div>
					</a></div>
					<div class="our">
					<a href="single.html"><img  src="images/p6.jpg" />
						<div class="simple">
							<h4>John Smith</h4>
							<p>Web Developer</p>
						</div>
					</a></div>
					<div class="our">
					<a href="single.html"><img  src="images/p3.jpg" />
						<div class="simple">
							<h4>John Smith</h4>
							<p>Web Developer</p>
						</div>
					</a></div>
					<div class="clear"> </div>
			
			</div>
			</div>
			<div class="about-in">
				<div class="skills">
					<h3>Our Skills</h3>
					<div class="our-skill">
						<div class="our-grid">
							<h5>Website Design</h5>
							<span>89%</span>
							<div class="clear"> </div>
						</div>
						<div class="design">
							<label> </label>
							<b> </b>
							<div class="clear"> </div>
						</div>
					</div>
					<div class="our-skill">
						<div class="our-grid">
							<h5>Website Development</h5>
							<span>97%</span>
							<div class="clear"> </div>
						</div>
						<div class="design site">
							<label> </label>
							<b> </b>
							<div class="clear"> </div>
						</div>
					</div>
					<div class="our-skill">
						<div class="our-grid">
							<h5>Plugins</h5>
							<span>85%</span>
							<div class="clear"> </div>
						</div>
						<div class="design eight">
							<label> </label>
							<b> </b>
							<div class="clear"> </div>
						</div>
					</div>
					<div class="our-skill">
						<div class="our-grid">
							<h5>Front end</h5>
							<span>75%</span>
							<div class="clear"> </div>
						</div>
						<div class="design seven">
							<label> </label>
							<b> </b>
							<div class="clear"> </div>
						</div>
					</div>
				</div>
				<div class="test">
					<h3>Testimonials</h3>
					<div class="test-top">
						<div class="test-in">
							<img class="in-at"  src="images/p6.jpg" />
							<h4 class="author">Collis Ta’eed - CEO at Envato</h4>
							<div class="clear"> </div>
						</div>
						<p>Sollicitudin lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt.</p>
					</div>
				</div>
				<div class="services">
				<h3>Services</h3>
					<ul class="service-grid">
						<li><a href="single.html"><i > </i> Web Design </a></li>
						<li><a href="single.html"><i >  </i> Photography</a></li>
						<li><a href="single.html"><i> </i>Plugin Development</a></li>
						<li><a href="single.html"><i >  </i> Pixel perfect Design</a></li>
						<li><a href="single.html"><i >  </i> Front-end</a></li>
						<li><a href="single.html"><i >  </i> Design from Scratch</a></li>
						<li><a href="single.html"><i >  </i> Website Maintenance</a></li>

					</ul>
				</div>
			</div>
			<div class="clear"> </div>
		</div>
	</div>
  </ion-content>
</ion-view>
