<ion-view>
  <ion-content>
    <div class="content">
		<div class="about" ng-repeat="item in profile">
			<div class="about-top">
				<div class="grid-about">
					<a><img src="{{item.picture}}" alt=""></a>
				</div>
				<h2><a href="single.html">{{item.name}}</a></h2>
				<pre><p>{{item.desc}}</p></pre>
			<div class="staff">
				<h3>Projects</h3>
					<div class="our" ng-repeat="project in projects | orderBy:'title'">
						<a href="#/app/{{project.kind | lowercase}}/{{project.$id}}"><img  src="{{project.picture}}" />
							<div class="simple">
								<h4>{{project.title}}</h4>
								<p>{{project.infos[0].title}}</p>
							</div>
						</a>
					</div>
					<div class="clear"> </div>
			
			</div>
			</div>
			<div class="about-in">
				<div class="info">
				<h3>Personal Data</h3>
					<ul class="likes">
						<li ng-repeat="info in item.infos | orderBy:'title'"><span><i class="{{info.icon}}" alt="{{info.title}}"> </i>{{info.value}}</span></li>
					</ul>
				</div>
				<div class="test">
					<h3>Testimonials</h3>
					<div class="test-top" ng-repeat="testi in item.testimonis | orderBy:'name'">
						<div class="test-in">
							<img class="in-at"  src="{{testi.picture}}" />
							<h4 class="author">{{testi.name}} - {{testi.title}} at {{testi.company}}</h4>
							<div class="clear"> </div>
						</div>
						<pre><p>{{testi.desc}}</p></pre>
					</div>
				</div>
				<div class="feature">
				<h3>Skills</h3>
					<ul class="feature-grid">
						<li ng-repeat="skill in item.skills | orderBy:'title'"><a><i class="{{skill.icon}}"> </i> {{skill.title}} </a></li>
					</ul>
				</div>
			</div>
			<div class="clear"> </div>
		</div>
	</div>
  </ion-content>
</ion-view>
