<ion-view>
  <ion-content>
    <div class="content">
		<div class="content-grid">
			<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
				<img  src="images/pi.jpg" />
					<div class="b-wrapper">
						<h2 class="b-animate b-from-left    b-delay03 ">
							<span>Cool App Design</span>
							<p>development, mobile</p>
							<i> </i>
						</h2>
					</div>
			</a>
		</div>
		<div class="content-grid">
			<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
				<img  src="images/pi1.jpg" />
					<div class="b-wrapper">
						<h2 class="b-animate b-from-left    b-delay03 ">
							<span>Cool App Design</span>
							<p>development, mobile</p>
							<i> </i>
						</h2>
					</div>
			</a>
		</div>
		<div class="content-grid">
			<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
				<img  src="images/pi2.jpg" />
					<div class="b-wrapper">
						<h2 class="b-animate b-from-left    b-delay03 ">
							<span>Cool App Design</span>
							<p>development, mobile</p>
							<i> </i>
						</h2>
					</div>
			</a>
		</div>
		<div class="content-grid">
			<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
				<img  src="images/pi3.jpg" />
					<div class="b-wrapper">
						<h2 class="b-animate b-from-left    b-delay03 ">
							<span>Cool App Design</span>
							<p>development, mobile</p>
							<i> </i>
						</h2>
					</div>
			</a>
		</div>
		<div class="content-grid">
			<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
				<img  src="images/pi4.jpg" />
					<div class="b-wrapper">
						<h2 class="b-animate b-from-left    b-delay03 ">
							<span>Cool App Design</span>
							<p>development, mobile</p>
							<i> </i>
						</h2>
					</div>
			</a>
		</div>
		<div class="content-grid">
			<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
				<img  src="images/pi5.jpg" />
					<div class="b-wrapper">
						<h2 class="b-animate b-from-left    b-delay03 ">
							<span>Cool App Design</span>
							<p>development, mobile</p>
							<i> </i>
						</h2>
					</div>
			</a>
		</div>
		<div class="content-grid">
			<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
				<img  src="images/pi6.jpg" />
					<div class="b-wrapper">
						<h2 class="b-animate b-from-left    b-delay03 ">
							<span>Cool App Design</span>
							<p>development, mobile</p>
							<i> </i>
						</h2>
					</div>
			</a>
		</div>
		<div class="content-grid">
			<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
				<img  src="images/pi7.jpg" />
					<div class="b-wrapper">
						<h2 class="b-animate b-from-left    b-delay03 ">
							<span>Cool App Design</span>
							<p>development, mobile</p>
							<i> </i>
						</h2>
					</div>
			</a>
		</div>
		<div class="content-grid">
			<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
				<img  src="images/pi8.jpg" />
					<div class="b-wrapper">
						<h2 class="b-animate b-from-left    b-delay03 ">
							<span>Cool App Design</span>
							<p>development, mobile</p>
							<i> </i>
						</h2>
					</div>
			</a>
		</div>
		<div class="content-grid grid9">
			<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
				<img  src="images/pi9.jpg" />
					<div class="b-wrapper">
						<h2 class="b-animate b-from-left    b-delay03 ">
							<span>Cool App Design</span>
							<p>development, mobile</p>
							<i> </i>
						</h2>
					</div>
			</a>
		</div>
		<div class="content-grid">
			<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
				<img  src="images/pi.jpg" />
					<div class="b-wrapper">
						<h2 class="b-animate b-from-left    b-delay03 ">
							<span>Cool App Design</span>
							<p>development, mobile</p>
							<i> </i>
						</h2>
					</div>
			</a>
		</div>
		<div class="content-grid">
			<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
				<img  src="images/pi3.jpg" />
					<div class="b-wrapper">
						<h2 class="b-animate b-from-left    b-delay03 ">
							<span>Cool App Design</span>
							<p>development, mobile</p>
							<i> </i>
						</h2>
					</div>
			</a>
		</div>
		<div class="content-grid">
			<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
				<img  src="images/pi6.jpg" />
					<div class="b-wrapper">
						<h2 class="b-animate b-from-left    b-delay03 ">
							<span>Cool App Design</span>
							<p>development, mobile</p>
							<i> </i>
						</h2>
					</div>
			</a>
		</div>
		<div class="content-grid">
			<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
				<img  src="images/pi2.jpg" />
					<div class="b-wrapper">
						<h2 class="b-animate b-from-left    b-delay03 ">
							<span>Cool App Design</span>
							<p>development, mobile</p>
							<i> </i>
						</h2>
					</div>
			</a>
		</div>
		<div class="content-grid">
			<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
				<img  src="images/pi5.jpg" />
					<div class="b-wrapper">
						<h2 class="b-animate b-from-left    b-delay03 ">
							<span>Cool App Design</span>
							<p>development, mobile</p>
							<i> </i>
						</h2>
					</div>
			</a>
		</div>
		<div class="content-grid">
			<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
				<img  src="images/pi9.jpg" />
					<div class="b-wrapper">
						<h2 class="b-animate b-from-left    b-delay03 ">
							<span>Cool App Design</span>
							<p>development, mobile</p>
							<i> </i>
						</h2>
					</div>
			</a>
		</div>
		<div class="clear"> </div>
		<div class="arrow">
			<img  src="images/ic.png" />
			<ul class="social ">
				<li><span><i> </i>+62 813 80 659 659</span></li>
				<li><a href="mailto:rendy.marojahan@gmail.com"><i class="mes"> </i>rendy.marojahan@gmail.com</a></li>
				<li><span><i class="down"> </i>Jakarta</span></li>
			</ul>
		</div>
	</div>
  </ion-content>
</ion-view>
