<ion-view>
  <ion-content>
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Order</h3>
          </div>
        </div>
        <div class="clearfix"></div>
        
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Order <small>Input Order</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="profile_img">
                  <div id="crop-avatar">
                    <!-- Current avatar -->
                    <img ng-show="selpro.picture !== undefined" class="img-responsive avatar-view" src="{{ selpro.picture }}">
                  </div>
                </div>
                <br />
                <form class="form-horizontal form-label-left input_mask">

                  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Kode Order" ng-model="pesanan.kode">
                    <span class="fa fa-bookmark form-control-feedback left" aria-hidden="true"></span>
                  </div>

                  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                    <input type="text" class="form-control" id="inputSuccess3" placeholder="Nama Pelanggan" ng-model="pesanan.pelanggan">
                    <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                  </div>

                  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" id="inputSuccess4" placeholder="Tanggal Order" ng-click="openDatePicker()" ng-model="OrderDate | date">
                    <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                  </div>

                  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                    <input type="text" class="form-control" id="inputSuccess5" placeholder="Tanggal Deadline" ng-click="DeadlinePicker()" ng-model="DeadlineDate | date">
                    <span class="fa fa-calendar form-control-feedback right" aria-hidden="true"></span>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Jenis Order</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div id="gender" class="btn-group" data-toggle="buttons">
                        <label class="btn {{new}}" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default" ng-click="trignew()">
                          <input type="radio" name="gender" value="male"> New
                        </label>
                        <label class="btn {{repair}}" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default" ng-click="trigrepair()">
                          <input type="radio" name="gender" value="female"> Repair
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Kode Product</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <select class="select2_single form-control" tabindex="-1" ng-model="selpro" ng-options="product.nama for product in products | orderBy:'nama'">
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Target Berat</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <input type="text" class="form-control" placeholder="Target Berat" ng-model="pesanan.berat">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Jumlah Berlian</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <input type="text" class="form-control" placeholder="Jumlah Berlian" ng-model="pesanan.berlian">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Tipe Material</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <select class="select2_single form-control" tabindex="-1" ng-model="selmat" ng-options="material.jenis for material in materials | orderBy:'jenis'">
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-3 col-sm-3 col-xs-12 control-label">Express
                    </label>

                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" class="flat" ng-model="pesanan.express">
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                      <button type="submit" class="btn btn-primary" ng-click="cancelOrder(pesanan, selpro, selmat)">Cancel</button>
                      <button type="submit" class="btn btn-success" ng-click="createOrder(pesanan, selpro, selmat)">Submit</button>
                    </div>
                  </div>

                </form>
              </div>
            </div>
      </div>
    </div>
  </ion-content>
</ion-view>
