<ion-view>
  <ion-content>
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Setting Price</h3>
          </div>
        </div>
        <div class="clearfix"></div>
        
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Price Form <small>setting</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <!-- start form for validation -->
                <form >
                  <label>Price * :</label>
                  <input type="text" class="form-control" ng-model="setting.price" required />

                  <label>Complexity *:</label>
                  <br>
                    Low:
                    <div class="iradio_flat-green {{low}}" style="position: relative;">
                      <input type="radio" class="flat" name="complexity" id="complexityL" value="L"  required style="position: absolute;opacity: 0;" ng-model="setting.complexity">
                      <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);" ng-click="triglow()">
                      </ins>
                    </div> 
                    Mid:
                    <div class="iradio_flat-green {{mid}}" style="position: relative;">
                      <input class="iradio_flat-green" type="radio" class="flat" name="complexity" id="complexityM" value="M" style="position: absolute;opacity: 0;" ng-model="setting.complexity"/>
                      <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);" ng-click="trigmid()">
                      </ins>
                    </div>
                    High:
                    <div class="iradio_flat-green {{high}}" style="position: relative;">
                      <input class="iradio_flat-green" type="radio" class="flat" name="complexity" id="complexityH" value="H" style="position: absolute;opacity: 0;" ng-model="setting.complexity"/>
                      <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);" ng-click="trighigh()">
                      </ins>
                    </div>

                  <br><br>
                  <br>
                    <span class="btn btn-primary" ng-click="createPrice(setting)">Submit</span>

                </form>
                <!-- end form for validations -->

              </div>
            </div>
      </div>
    </div>
  </ion-content>
</ion-view>
